# Node.js modules
frontend/node_modules/
backend/node_modules/

# Environment files
frontend/.env
backend/.env
backend/config.env

# Logs
frontend/logs/
backend/logs/
*.log

# Build files
frontend/build/
frontend/dist/
backend/build/
backend/dist/

# IDEs and editors
.idea/
.vscode/
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Dependency directories
bower_components/
